# Data Preprocessing
- Clearing of redundant columns
- As mentioned in the problem statement that we have to perform an analysis on the hourly data hence we have to resample it.
- The processed file is ultimately stored in a different csv file

In [28]:
#Importing Standard Libraries

import numpy as np
import pandas as pd

In [37]:
#Reading the provided dataset
df = pd.read_csv("Power-Networks-LCL.csv")

In [38]:
df.head()

       LCLid stdorToU                     DateTime  KWh    Acorn Acorn_grouped
0  MAC000002      Std  2012-10-12 00:30:00.0000000  0.0  ACORN-A      Affluent
1  MAC000002      Std  2012-10-12 01:00:00.0000000  0.0  ACORN-A      Affluent
2  MAC000002      Std  2012-10-12 01:30:00.0000000  0.0  ACORN-A      Affluent
3  MAC000002      Std  2012-10-12 02:00:00.0000000  0.0  ACORN-A      Affluent
4  MAC000002      Std  2012-10-12 02:30:00.0000000  0.0  ACORN-A      Affluent

In [39]:
df.describe()

                 KWh
count  999971.000000
mean        0.239580
std         0.387533
min         0.000000
25%         0.060000
50%         0.129000
75%         0.255000
max         6.528000

#### The dataset is well structured and there are no NaN values.

In [40]:
df['DateTime'] = pd.to_datetime(df['DateTime'])

In [41]:
df['Acorn'].unique()

array(['ACORN-A', 'ACORN-P', 'ACORN-E', 'ACORN-Q', 'ACORN-H', 'ACORN-L',
       'ACORN-N', 'ACORN-K', 'ACORN-J', 'ACORN-U', 'ACORN-D'],
      dtype=object)

In [8]:
df['Acorn_grouped'].unique()

array(['Affluent', 'Adversity', 'Comfortable', 'ACORN-U'], dtype=object)

### 11 distinct acorn groups and 4 distinct types

In [9]:
#drop stdorToU because all readings have the same value
df = df.drop('stdorToU', axis = 1)

In [16]:
l = df['LCLid'].unique()
d = {}
for i in l:
    d[i] = (df['LCLid'][df['LCLid'] == i].count())
    print("Reading counts of " + i, d[i])

Reading counts of MAC000002 24157
Reading counts of MAC000003 35468
Reading counts of MAC000004 31676
Reading counts of MAC000006 36460
Reading counts of MAC000007 25045
Reading counts of MAC000008 26012
Reading counts of MAC000009 25237
Reading counts of MAC000010 25048
Reading counts of MAC000011 23704
Reading counts of MAC000012 24669
Reading counts of MAC000013 29613
Reading counts of MAC000016 19523
Reading counts of MAC000018 39081
Reading counts of MAC000019 39070
Reading counts of MAC000020 39078
Reading counts of MAC000021 39078
Reading counts of MAC000022 39071
Reading counts of MAC000023 39068
Reading counts of MAC000024 39026
Reading counts of MAC000025 39064
Reading counts of MAC000026 39064
Reading counts of MAC000027 39068
Reading counts of MAC000028 32157
Reading counts of MAC000029 39063
Reading counts of MAC000030 39066
Reading counts of MAC000032 39068
Reading counts of MAC000033 39070
Reading counts of MAC000034 39069
Reading counts of MAC000035 39023
Reading counts of MAC000036 16175

### MAC000018, MAC000020, MA000021 are the households with the maximum number of readings
#### MAC000018 belongs to Acorn Affluent
#### MAC000020 belongs to Acorn Comfortable
#### MAC000021 belongs to Acorn Affluent

In [42]:
df_18 = df[df['LCLid'] == 'MAC000018']
df_20 = df[df['LCLid'] == 'MAC000020']
df_21 = df[df['LCLid'] == 'MAC000021']

In [43]:
df2 = pd.merge(df_18, df_20, on = 'DateTime')

In [44]:
df2 = pd.merge(df2, df_21, on = 'DateTime')

In [45]:
df2 = df2.rename(columns = {'KWh_x' : 'KWh_18', 'KWh_y' : 'KWh_20', 'KWh' : 'KWh_21', 'Acorn_x' : 'Acorn_18', 'Acorn_y' : 'Acorn_20', 'Acorn' : 'Acorn_21', 'Acorn_grouped' : 'Acorn_grouped_21', 'Acorn_grouped_x' : 'Acorn_grouped_18', 'Acorn_grouped_y' : 'Acorn_grouped_20'})

In [46]:
#LCLid column is now redundant for obvious reasons
df2 = df2.drop(['LCLid_x', 'LCLid_y', 'LCLid'], axis = 1)

In [47]:
df2.to_csv("processed_2.csv")

In [48]:
df2.head()

,stdorToU_x,DateTime,KWh_18,Acorn_18,Acorn_grouped_18,stdorToU_y,KWh_20,Acorn_20,Acorn_grouped_20,stdorToU,KWh_21,Acorn_21,Acorn_grouped_21
0,Std,2011-12-07 10:00:00,0.200,ACORN-E,Affluent,Std,0.231,ACORN-J,Comfortable,Std,0.491,ACORN-E,Affluent
1,Std,2011-12-07 10:30:00,0.218,ACORN-E,Affluent,Std,0.204,ACORN-J,Comfortable,Std,0.346,ACORN-E,Affluent
2,Std,2011-12-07 11:00:00,0.209,ACORN-E,Affluent,Std,0.194,ACORN-J,Comfortable,Std,0.473,ACORN-E,Affluent
3,Std,2011-12-07 11:30:00,0.210,ACORN-E,Affluent,Std,0.317,ACORN-J,Comfortable,Std,0.456,ACORN-E,Affluent
4,Std,2011-12-07 12:00:00,0.238,ACORN-E,Affluent,Std,0.163,ACORN-J,Comfortable,Std,0.432,ACORN-E,Affluent